/*
 * Media queries based on flex-layout
 */
@mixin screen-xs {
  @media screen and (max-width: 599px) {
    @content;
  }
}

@mixin screen-sm {
  @media screen and (min-width: 600px) and (max-width: 959px) {
    @content;
  }
}

@mixin screen-md {
  @media screen and (min-width: 960px) and (max-width: 1279px) {
    @content;
  }
}

@mixin screen-md {
  @media screen and (min-width: 1280px) and (max-width: 1919px) {
    @content;
  }
}

@mixin screen-md {
  @media screen and (min-width: 1920px) and (max-width: 5000px) {
    @content;
  }
}

@mixin screen-lt-sm {
  @media screen and (max-width: 599px) {
    @content;
  }
}

@mixin screen-lt-md {
  @media screen and (max-width: 959px) {
    @content;
  }
}

@mixin screen-lt-lg {
  @media screen and (max-width: 1279px) {
    @content;
  }
}

@mixin screen-lt-xl {
  @media screen and (max-width: 1919px) {
    @content;
  }
}

@mixin screen-gt-xs {
  @media screen and (min-width: 600px) {
    @content;
  }
}

@mixin screen-gt-sm {
  @media screen and (min-width: 960px) {
    @content;
  }
}

@mixin screen-gt-md {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin screen-gt-lg {
  @media screen and (min-width: 1920px) {
    @content;
  }
}
/*
 * End media queries
 */

@mixin transform($a){
    -webkit-transform: $a;
    -moz-transform: $a;
    -ms-transform: $a;
    -o-transform: $a;
    transform: $a;
}

@mixin transition($a){
    -webkit-transition: #{$a};
    -moz-transition: #{$a};
    -o-transition: #{$a};
    transition: #{$a};
}

@mixin border-radius($radius){
    // rounded corners mixin
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin rotate($deg){
    transform:rotate($deg);
    -ms-transform:rotate($deg);
    -webkit-transform:rotate($deg);
    -moz-transform:rotate($deg);
    -o-transform:rotate($deg);
}

@mixin placeholder($c){
    *::-webkit-input-placeholder {
        color:    $c;
    }
    *:-moz-placeholder {
        color:    $c;
        opacity:  1;
    }
    *::-moz-placeholder {
        color:    $c;
        opacity:  1;
    }
    *::-ms-input-placeholder {
        color:    $c;
    }
}

@mixin gradient($startColor: #eee, $endColor: white){
    background-color: $endColor;
    background: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
    background: -webkit-linear-gradient(top, $startColor, $endColor);
    background: -moz-linear-gradient(top, $startColor, $endColor);
    background: -ms-linear-gradient(top, $startColor, $endColor);
    background: -o-linear-gradient(top, $startColor, $endColor);
}
@mixin clearfix(){
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}
