/*
 * Screen dimensions
 */
$screen-sm: 768px;
$screen-md: 945px;
$screen-lg: 1400px;

/*
 * Typography
 */
$default-font: helvetica, arial, sans-serif;
$bold-font: 'Helvetica Bold', helvetica, arial, sans-serif;

/*
 * Transitions
 */
$standard-easing: cubic-bezier(0.4, 0.0, 0.2, 1);
$ease-in-easing: cubic-bezier(0.4, 0.0, 1, 1);
$ease-out-easing: cubic-bezier(0.0, 0.0, 0.2, 1);

$fast-transition-speed: 0.3s;
$normal-transition-speed: 0.5s;
$slow-transition-speed: 1.0s;

$fast-transition: $fast-transition-speed $standard-easing;
$normal-transition: $normal-transition-speed $standard-easing;
$slow-transition: $slow-transition-speed $standard-easing;

$section-phone-width: 490px;
$section-tablet-width: 945px;
$section-desktop-width: 1400px;

/*
 * Z-indexes
 */
$header-index: 1000;

/*
 * Content variables
 */
$content-width: 90%;
$content-margin: 1.5em auto;
$content-padding: 1em;
