<div class="col-md-6 col-md-offset-3" fxLayoutAlign="center center" fxLayout="column">
    <h2>Login</h2>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate fxFlex="80" fxLayout="column" fxLayoutAlign="center center">
      <mat-form-field>
        <input matInput placeholder="User number" type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
        <mat-error *ngIf="f.submitted && !username.valid" class="help-block">Username is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
        <mat-error *ngIf="f.submitted && !password.valid">Password is required</mat-error>
      </mat-form-field>
      <button mat-button [disabled]="loading">Login</button>
      <mat-spinner *ngIf="loading"></mat-spinner>
    </form>
</div>
