<mat-dialog-content *ngIf="data.status !== 401" >{{ data.error }}</mat-dialog-content>
<mat-dialog-content *ngIf="data.status === 401">{{ data.statusText }}</mat-dialog-content>
<mat-dialog-content *ngIf="data.status === 401">Something went wrong with loggin in, try refreshing this page. If this error persists, please try loggin in again</mat-dialog-content>
<mat-dialog-actions>
  <button *ngIf="data.status !== 401" mat-button mat-dialog-close>Close</button>
  <button *ngIf="data.status === 401" mat-button mat-dialog-close routerLink="/login">Login</button>
  <button *ngIf="data.status === 401" mat-button mat-dialog-close onclick="window.location.reload()">Refresh</button>
</mat-dialog-actions>
