<app-navigation></app-navigation>
<nav *ngIf="userLoggedIn" mat-tab-nav-bar>
  <a mat-tab-link
    *ngFor="let room of rooms"
    [routerLink]="['/chat', room.id ]"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive"
    >{{ room.name }}</a>
</nav>
<div fxLayout="row" fxFlex="1 1 auto" fxLayoutAlign="center">
    <main id="content" fxFlex>
      <div *ngIf="loading" class="loading">
        <mat-spinner></mat-spinner>
      </div>
      <router-outlet></router-outlet>
    </main>
</div>
<app-footer></app-footer>
