@import "styles/index";

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  #content {
    background-color: $white;
    .loading {
      z-index: 9999;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255,255,255, 0.8);
    }
  }
}
