@import "../styles/index";

ng-scrollbar ::ng-deep {
  height: 90%;
  .ng-scrollbar-view {
    padding: 0 40px;
    background-image: url('https://wallpapers.walldevil.com/wallpapers/a85/preview/background-wallpapers-wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    @include screen-gt-xs {
      mat-card {
        width: 40%;
      }
    }
    mat-card {
      word-break: break-all;
      margin: 20px 0;
      &.user {
        background-color: $green;
        margin-left: auto;
      }
    }
  }
}

.back-to-bottom {
  position: absolute;
  background-color: rgba(0,0,0,0.4);
  bottom: 102px;
  width: 100%;
  display: flex;
  color: $white;
  cursor: pointer;
  p {
    padding: 0;
    margin: 0 auto;
    display: inline-block;
  }
  mat-icon {
    cursor: pointer;
  }
}

.message {
  padding: 0 20px;
  border-top: 1px solid $green;
  button {
    margin-left: 10px;
  }
}
