<ng-scrollbar #scrollRef>
  <mat-card *ngFor="let message of chatroom" fxLayout="column" fxLayoutGap="20px" [ngClass]="(message.number === user.number)? 'user' : ''">
    <mat-card-title>{{ message.name }} ({{ message.user_role }})</mat-card-title>
    <mat-card-content>{{ message.message }}</mat-card-content>
    <mat-card-footer>Send: {{ message.created_at }}</mat-card-footer>
  </mat-card>
</ng-scrollbar>
<div *ngIf="endPage === false" class="back-to-bottom" (click)="scrollRef.scrollYTo(scrollRef.viewRef.nativeElement.scrollHeight)">
  <p>You are viewing older messages</p><mat-icon>keyboard_arrow_down</mat-icon>
</div>
<div class="message" fxLayout="row">
    <form name="form" (ngSubmit)="f.form.valid && sendMessage(); f.resetForm()" #f="ngForm" fxFlex novalidate>
      <mat-form-field fxFlex>
        <input matInput placeholder="message" type="text" class="form-control" name="username" [(ngModel)]="model.message" #message="ngModel" required/>
        <mat-error *ngIf="f.submitted && !message.valid" class="help-block">You can't send an empty message</mat-error>
      </mat-form-field>
      <button mat-button>Send message</button>
    </form>
</div>
