@import "../styles/index";

:host {
  mat-toolbar {
    background-color: $light-grey;
    border-bottom: 1px solid $grey;
    justify-content: space-between;
    .logo {
      margin-right: 20px;
      max-height: 100%;
      width: 165px;
      a {
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
    .home {
      margin-right: 15px;
    }
    .links {
      margin-left: auto;
      button {
        margin-right: 10px;
      }
    }
  }
  button:not(.burger), a {
    background-color: transparent;
    position: relative;
    font-weight: bold;
    text-decoration:none;
    display: flex;
    align-items: center;
    height: 100%;
    ::ng-deep {
      .mat-button-wrapper {
        width: 100%;
      }
      .mat-button-focus-overlay {
        background-color: transparent;
      }
    }
    &:link, &:visited, &:hover, &:active {
      text-decoration: none;
      color: $black;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 5px;
      width: 0;
      left: 0;
      background-color: $green;
      @include transition("all 0.5s")
    }
    &:hover  {
      &:after {
        width: 100%;
      }
    }
    &.active {
      &:after {
        width: 100%;
      }
    }
  }
}
