<mat-toolbar>
  <div class="logo" fxLayout="row">
      <a routerLink="/" fxLayout="column" fxLayoutAlign="center">Whatstudy</a>
  </div>

  <div class="links" fxLayout="row" fxShow="false" fxShow.gt-xs fxLayoutAlign="center center">
      <button *ngIf="user" mat-button>{{ userData.name }}</button>
      <a *ngIf="user" mat-button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/logout">Logout</a>
      <!--<a mat-button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/contact">Contact</a>-->
      <!--<button mat-menu-item routerLinkActive="active" [matMenuTriggerFor]="productMenu">Producten</button>-->
  </div>
  <button class="burger" mat-button [matMenuTriggerFor]="appMenu" fxHide="false" fxHide.gt-xs><mat-icon>menu</mat-icon></button>
</mat-toolbar>
<mat-menu [overlapTrigger]="false" #appMenu="matMenu" fxHide="false" fxHide.gt-xs>
  <button *ngIf="user" mat-button>{{ userData.name }}</button>
  <button *ngIf="user" mat-button routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/logout">Logout</button>
</mat-menu>
