@import "app/styles/index";

// Angular material theme styling important for a lot of functions!!!!!
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: row;
  .header-banner {
    margin-bottom: 25px;
    height:500px;
    background-repeat: no-repeat;
    background-position: center;
    .textbox {
      width: 40%;
      min-height: 50%;
      margin-left: 10%;
      background-color: rgba(244,244,244,0.7); // rgba $light-grey
      padding: 20px;
      border-radius: 30px;
      border: 3px solid $white;
      &.title {
        width: auto;
        height: auto;
        min-height: 0;
      }
      @include screen-lt-md {
        width: 80%;
      }
    }
  }
  .mat-button, .mat-menu-item {
    &:focus {
      outline: none;
    }
  }
  .mat-menu-content .mat-menu-item {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 10%;
      width: 0;
      height: 3px;
      background-color: $green;
      @include transition("all 0.5s")
    }
    &.active, &:hover {
      &:before {
        width: 80%;
      }
    }
  }
  ng-scrollbar {
    .ng-scrollbar {
      border-radius: 10px;
      width: 10px;
      .ng-scrollbar-thumb,
      .ng-scrollbar-thum:hover,
      .ng-scrollbar-thumb:active {
        background-color: $green !important;
      }
    }
  }
}

.page-title {
  text-transform: uppercase;
  color: $green;
}
